<div class="rstudio-sidebar-wrapper">
  <h3><a href="{{ siteSettings.rstudio_list_1_url }}">{{ siteSettings.rstudio_list_1_title }}</a></h3>
  <<div class="topicList1">
    {{topic-list
      topics=sidebarTopics1}}
  </div>
    {{#if loopDone}}
      {{#if announcementsShowImages}}
        {{#if announcementsImgUrl}}
    <a class="sidebar-announcement" topicId="{{announcementTopicId}}" href="{{announcementsUrl}}"><img src="{{announcementsImgUrl}}" alt="{{announcementsTitle}}"/></a>
        {{else}}
    <a class="sidebar-announcement" topicId="{{announcementTopicId}}" href="{{announcementsUrl}}" class="announcement-text"><p>{{announcementsTitle}}</p></a>
        {{/if}}
      {{else}}
   <a class="sidebar-announcement" topicId="{{announcementTopicId}}" href="{{announcementsUrl}}" class="announcement-text"><p>{{announcementsTitle}}</p></a>
      {{/if}}
    {{/if}}
  <h3><a href="{{ siteSettings.rstudio_list_2_url }}">{{ siteSettings.rstudio_list_2_title }}</a></h3>
  <div class="topicList2">
    {{topic-list
      topics=sidebarTopics2}}
  </div>
</div>
